/* grenze */
@import url("https://fonts.googleapis.com/css2?family=Grenze&display=swap");

/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --sectionHeight: calc(100vh - 60px);
}
.BSbody {
  font-family: "Inter", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toTop {
  width: 50px;
  height: 50px;

  background-color: #f2d330;
  border-radius: 50%;

  position: relative;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;

  cursor: pointer;
  display: none;
}
.BSarrow {
  width: 20px;
  height: 20px;
  border: #6f088e solid;
  border-width: 5px 5px 0 0;

  position: absolute;
  top: 37%;
  right: 50%;
  transform: translate(50%, 0) rotate(-45deg);
}

.BSheader {
  height: 60px;
  width: 95%;
  padding: 0 2.5%;
  background-color: #000000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 3;
  color: #fff;
}
.BSlogo {
  margin-left: 30px;
  font-size: 50px;
  font-family: "Grenze", serif;
}

.BSlinksContainer {
  display: flex;
  align-items: center;
}
.BSlinks {
  display: flex;
  gap: 40px;

  font-size: 24px;
  font-weight: 500;
}
.BSlink {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.BSlink:hover {
  color: #f2d330;
}
.BSmoreOpt {
  display: none;
}

/* ================================= home ================================= */
.home {
  width: 100%;
  min-height: var(--sectionHeight);
  position: relative;
  margin-top: 60px;

  background-image: url("/src/_images/projectsItems/landingPages/mhsBS/mesa_cinza.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  text-align: center;
}
.homeTitle {
  color: #fff;
  font-family: "Grenze", serif;
  font-size: 100px;
  line-height: 0.9;
  letter-spacing: 6.8px;
  font-weight: normal;
  text-transform: uppercase;

  margin-right: 20px;
  cursor: default;
}

.CTA {
  margin-right: 20px;
  width: 299px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: #23c233;
  cursor: pointer;

  color: #fff;
  font-size: 31px;
  letter-spacing: 2px;
}
.CTA:hover {
  background-color: #1b9527;
}

/* ================================= menu ================================= */
.menu {
  width: 100%;
  min-height: var(--sectionHeight);

  --img: url("/src/_images/projectsItems/landingPages/mhsBS/garcon_cinza.png?url");
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menuTitle {
  color: #f2d330;
  font-size: 56px;
}
.BScardsContainer {
  display: flex;
  gap: 60px;
}
.BSbtnArrowRigth,
.BSbtnArrowLeft {
  display: none;
}
.menuCard {
  width: 380px;
  height: 350px;
  border: 3px solid #f2d330;
  background-color: #0008;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-transform: uppercase;
}
.BScardTitle {
  width: 80%;

  color: #f2d330;
  margin-top: 10px;
  border-bottom: #f2d330 solid 2px;

  font-weight: 500;
  text-align: center;
}

.BScardItems {
  width: 70%;

  color: #fff;
  font-size: 24px;
}
.BSitem {
  height: 45px;
  width: 100%;
}
.itemDiv {
  width: 30px;
}
.BSitemName {
  height: min-content;
}

/* ================================= hours ================================= */
.hours {
  width: 100%;
  height: 250px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;

  position: relative;
  z-index: -1;
  overflow: hidden;

  border-bottom: #000 solid 1px;
}
.hoursLine {
  width: 50%;
  border: #000 solid 1px;
  margin: 15px 0;
}
#BShourDetail1 {
  width: 190px;
  height: 390px;
  background-color: #000;
  color: #fff;
  left: -45px;
  top: -131px;
  rotate: 45deg;
  position: absolute;
}

#BShourDetail2 {
  width: 178px;
  height: 382px;
  background-color: #000;

  right: -29px;
  top: -5px;
  rotate: 45deg;
  position: absolute;
}

/* ================================= address ================================= */

.address {
  width: 100%;
  height: var(--sectionHeight);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 70px;
  padding-top: 20px;
}

.mapTitle {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

.infoAddress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.addressCard {
  width: 310px;
  padding: 10px;

  background-color: #eee;
  font-size: 20px;
  border-radius: 10px;
}

.BSmap {
  width: 60%;
  height: 60vh;
  border: none;
  border-radius: 20px;
}

/* ================================= contact ================================= */

.contact {
  padding: 20px 0;
  min-height: 100px;
  border-radius: 10px;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contactTitle {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.BScontactLinks {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.BScontactLink {
  display: grid;
  grid-template-columns: 60px 200px;
  place-items: center;

  font-size: 22px;
  cursor: pointer;
}
.BScontactLink:hover,
.BScontactLink > a:hover {
  color: #6f088e;
}

.BSfooter {
  width: 100%;
  padding: 10px 0;

  background: #241810;
  color: #fff;

  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
}

@media (width < 980px) {
  .BScontactLinks {
    gap: 20px;
  }
  .address {
    gap: 10px;
  }
  .infoAddress {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }

  .addressCard {
    width: auto;
    font-size: 18px;
  }
  .addressCard > br {
    display: none;
  }

  .BSmap {
    width: 100%;
  }
}
@media (width < 870px) {
  .toTop {
    right: 20px;
  }
  .BSlogo {
    margin-left: 50px;
  }
  .BScardsContainer {
    width: 90%;
  }
  .BScardItems {
    width: 90%;
  }
}

@media (width < 860px) {
  .homeTitle {
    margin: 0;
  }
  .infoAddress {
    align-items: center;
  }
}

@media (width < 740px) {
  .BSlinks {
    gap: 25px;
    font-size: 21px;
  }
  .menu {
    justify-content: center;
    gap: 60px;
  }
  .menuTitle {
    margin: 0;
  }
  .BScardsContainer {
    margin: 0;
  }
  .menuCard {
    height: 300px;
  }
  .BScardItems {
    font-size: 20px;
  }
  .BSitem {
    height: 40px;
  }

  .hours {
    font-size: 25px;
    height: 200px;
  }
  #BShourDetail1 {
    left: -94px;
  }
}
@media (width < 640px) {
  .homeTitle {
    font-size: 80px;
  }
  .hours {
    font-size: 20px;
    height: 180px;
  }
  #BShourDetail1 {
    left: -115px;
  }
}
@media (width < 630px) {
  .BScardsContainer {
    gap: 20px;
  }
}
@media (width < 600px) {
  .BSlinks {
    width: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-color: #000;

    position: absolute;
    top: 0;
    right: 0px;
    z-index: 4;
    transition: 200ms;
  }
  .BScardsContainer {
    gap: 20px;
  }
  .BSmoreOpt {
    width: 40px;
    height: 40px;

    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .BSline {
    width: 100%;
    height: 5px;

    background-color: #fff;
    border-radius: 20px;
    transition: 200ms;
  }
  #BSline1.on {
    transform: translateY(10px) rotate(90deg);
  }
  #BSline2.on {
    transform: translate(10px, -2px) rotate(90deg);
  }
  #BSline3.on {
    transform: translate(-10px, -13.5px) rotate(90deg);
  }

  .BScardItems {
    font-size: 18px;
  }
}

@media (width < 550px) {
  .homeTitle {
    font-size: 60px;
  }
  .CTA {
    scale: 0.9;
  }

  .menu {
    position: relative;
  }
  .menuTitle {
    margin-top: -40px;
    font-size: 45px;
  }
  .BScardsContainer {
    width: 306px;
    overflow: hidden;
    gap: 10px;
    scroll-behavior: smooth;
  }
  .menuCard {
    min-width: 300px;
  }
  .BSbtnArrowLeft {
    width: 20px;
    height: 20px;
    border: #f2d330 solid;
    border-width: 5px 5px 0 0;

    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, 50%) rotate(225deg);

    display: none;
  }
  .BSbtnArrowRigth {
    width: 20px;
    height: 20px;
    border: #f2d330 solid;
    border-width: 5px 5px 0 0;

    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, 50%) rotate(45deg);

    display: block;
  }

  .address {
    row-gap: 20px;
    height: fit-content;
    padding-bottom: 40px;
  }
  .BSmap {
    height: 80vw;
  }

  .hours {
    height: 150px;
  }
  .hoursLine {
    margin: 10px 0;
  }
  #BShourDetail1 {
    left: -144px;
  }
}
@media (width < 480px) {
  .BSlinks {
    height: 100vh;
    padding: 20px 0;

    right: 0;
    top: 0;

    flex-direction: column;
    justify-content: start;
    font-size: 26px;
  }
  .BSlink:nth-child(1) {
    margin-top: 50px;
  }
  #BShourDetail1 {
    left: -150px;
    rotate: 35deg;
  }
  #BShourDetail2 {
    right: -67px;
    rotate: 35deg;
  }
}
@media (width < 460px) {
  .BScontactLinks {
    width: 300px;
  }
  .BSbtnArrowRigth {
    right: 30px;
  }
  .BSbtnArrowLeft {
    left: 30px;
  }
}
@media (width < 430px) {
  .homeTitle {
    font-size: 50px;
  }
  .BScardsContainer {
    width: 246px;
  }
  .menuCard {
    min-width: 240px;
  }

  .hours {
    font-size: 17px;
  }
}
@media (width < 370px) {
  .contactTitle {
    font-size: 28px;
  }
  .BScontactLink {
    font-size: 19px;
  }
  .hours {
    height: 130px;
  }
  #BShourDetail1 {
    left: -164px;
  }
}

@media (width < 350px) {
  .homeTitle {
    font-size: 45px;
  }
  .menu {
    gap: 40px;
  }
  .BScardsContainer {
    width: 226px;
  }
  .menuCard {
    min-width: 220px;
  }
  .itemDiv {
    width: 18px;
  }
}

@media (width < 350px) {
  .BSbtnArrowRigth {
    right: 20px;
  }
  .BSbtnArrowLeft {
    left: 20px;
  }
}
