.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  width: 100%;
  height: 100%;
}
@media (width > 430px) {
  .container{
    position: relative;
  }
  .form {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: #ddd;
    
    padding: 10px;
    margin-top: 2vh;
    width: 30%;
    position: relative;
  }

  .listItem {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 5px;

    max-height: 65vh;

    overflow: hidden;
    overflow-x: auto;

    background-color: #222;
    padding: 5px;
    margin-top: 10px;
  }
  .delBtn {
    position: absolute;
    right: -130px;
    bottom: -15px;
  }
}
@media screen and (width < 430px) {
  .form {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    margin-top: 10px;
    background-color: #ddd;
    width: 90%;
    position: relative;
  }
  .addBtn {
    height: 100%;
    width: 10%;
  }
  .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 92vw;
    min-height: 1%;
    max-height: 67%;

    overflow-y: auto;

    background-color: #333;
    padding: 5px;
    margin-top: 10px;
  }
  .listItem::-webkit-scrollbar {
    width: 5px;
  }
  .listItem::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
  }

  .delBtn {
    position: absolute;
    right: -30%;
    bottom: -10px;
  }
}
