.HomeBody {
  width: 100%;
  height: 100%;
  background-color: #456;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
#homeTitle{
  font-size: 25pt;
}
.imgContainer {
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  background-color: #0005;

  margin-top: 20px;
  margin-bottom: 20px;
}
.ftreal {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
#homeDesc {
  width: 90%;
  text-align: justify;
}
