.HomeBody {
  width: 100%;
  height: 100%;
}

@keyframes introTitle {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  80% {
    margin-left: initial;
  }
  100% {
    opacity: 1;
  }
}
#homeArea {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;

  background: radial-gradient(50% 50% at 50% 50%, #ffe, #ffc 70%);
}
.ftinha {
  min-width: 300px;
  min-height: 300px;
  width: 25vw;
  height: 25vw;

  border-radius: 50%;
  animation: introTitle 1s ease-out;
  margin-top: -100px;

  box-shadow: #0005 0 5px 10px 3px;
}
#eu {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.titleHomeBox {
  width: 510px;
  margin-top: -50px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
}
.titleHome {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;

  animation: introTitle 1s ease-out;
}
#devTitle {
  letter-spacing: 4px;
}
#reactTitle {
  color: #0094ff;
}
.subtitleHome {
  width: 60.4%;
  margin-top: 6px;

  font-size: 28px;

}
@keyframes pisca {
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.subtitleHome::after {
  content: "|";
  animation: pisca 0.8s infinite;
  animation-delay: 2.2s;
}

.LinksContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.contactLink {
  width: 50px;
  height: 50px;
  /* background-color: #000; */
}
.imgLink {
  width: 100%;
  height: 100%;
}
.linkDown {
  font-size: 55px !important;
  /* background-color: #000; */
  color: #fff;
}

/* tablet */
/* ========maior que: ===========menor que:================================= */
@media (width >= 800px) and (width <= 909px) {
  .titleHomeBox {
    width: 430px;
    margin-top: -100px;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */

    position: relative;

    /* background-color: #0006; */
  }
  .ftinha {
    min-width: 240px;
    min-height: 240px;
  }

  .titleHome {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;

    animation: introTitle 1s ease-out;
  }
  #devTitle {
    letter-spacing: 3px;
  }
  #reactTitle {
    color: #0094ff;
  }
  .subtitleHome {
    width: 62%;
    right: 0px;
    font-size: 25px;

    /* background-color: #0094ff; */
  }
  @keyframes pisca {
    10% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .subtitleHome::after {
    content: "|";
    animation: pisca 0.8s infinite;
    animation-delay: 2.2s;
  }

  .LinksContainer {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%);
  }

  .contactLink {
    width: 50px;
    height: 50px;
    /* background-color: #000; */
  }
  .imgLink {
    width: 100%;
    height: 100%;
  }
  .linkDown {
    font-size: 55px !important;
    /* background-color: #000; */
    color: #fff;
  }
}

/* ========maior que: ===========menor que:================================= */
@media (width >= 430px) and (width < 800px) {
  .Logo {
    font-size: 50px;
    /* margin-left: 50px; */
  }
  .pageLinksContainer {
    display: flex;
    gap: 20px;
    /* margin-right: 50px; */
  }
  .ftinha {
    min-width: 235px;
    min-height: 235px;
  }

  .titleHomeBox {
    width: 444px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .titleHome {
    font-size: 60px;
  }
  .subtitleHome {
    font-size: 24px;
  }

  .contactLink {
    width: 50px;
    height: 50px;
    /* background-color: #000; */
  }
  .imgLink {
    width: 100%;
    height: 100%;
  }
}

/* ========maior que: ===========menor que:================================= */
@media (width >= 430px) and (width < 750px) {
  #homeArea {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .ftinha {
    margin-top: -50px;
  }
}
/* ========maior que: ===========menor que:================================= */
@media (width < 710px) {
  .ftinha {
    margin-top: -70px;
  }
  .navBar {
    position: relative;
    position: fixed;
    top: -70px;
    left: 0;
    z-index: 3;

    background-color: #eeb;
    width: 100%;

    padding: 0;
    transition: 0.3s;
  }
  .Logo {
    display: none;
  }
  .pageLinksContainer {
    width: 100%;
    height: 100%;
    background-color: #0002;

    display: flex;
    justify-content: space-evenly;
  }
  .pageMarker {
    display: block;
    position: absolute;
    right: 40px;
    bottom: -40px;

    height: 40px;
    width: 30px;

    background-color: #0094ff;

    cursor: pointer;
  }

  #homeArea {
    min-height: 100vh;
  }
}
/* ========maior que: ====================================================== */
@media (width <= 460px) {
  .navBar {
    height: auto;
    top: -154px;
  }
  .pageLinksContainer {
    gap: 1px;
    flex-direction: column;
  }
  .pageLink {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #0003;
  }

  .titleHomeBox {
    width: 90%;
    /* background-color: #0005; */
  }
  .titleHome {
    font-size: 11.5vw;
    letter-spacing: 1px;
  }
  #devTitle {
    font-size: 12vw;
    letter-spacing: 4px;
  }

  .subtitleHome {
    width: 65.7%;
    font-size: 24px;
  }

  .LinksContainer {
    width: 100%;
  }
}

/* mobile */
/* ========maior que: ====================================================== */
@media (width < 431px) {
  #homeArea {
    flex-direction: column;
    min-width: 100vw;
    justify-content: center;
    row-gap: 20px;
  }

  .ftinha {
    min-width: 200px;
    min-height: 200px;
    width: 30vw;
    height: 30vw;
  }
  .titleHomeBox {
    margin-top: 0;
  }

  #devTitle {
    letter-spacing: 1vw;
    /* letter-spacing: normal; */
  }

  .subtitleHome {
    width: 64.4%;
    letter-spacing: -.5px;
    font-size: 5.5vw;
    line-height: 90%;
    margin-top: 4px;
  }
}
