.HomeBody {
  width: 100%;
  min-height: 100vh;
}
.navBar {
  height: 70px;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;
  background-color: #ffc;
}
.Logo {
  font-size: 61px;
}
.pageLinksContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.pageLink {
  color: #000;
  font-size: 31px;
  text-decoration: none;
}

@keyframes introTitle {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  80% {
    margin-left: initial;
  }
  100% {
    opacity: 1;
  }
}
#homeArea {
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;

  background: radial-gradient(50% 50% at 50% 50%, #ffe, #ffc 70%);
  background-blend-mode: luminosity;
}
.ftinha {
  min-width: 300px;
  min-height: 300px;
  width: 25vw;
  height: 25vw;

  border-radius: 50%;
  animation: introTitle 1s ease-out;
  margin-top: -100px;

  box-shadow: #0005 0 5px 10px 3px;
}
#eu {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.titleHomeBox {
  width: 510px;
  margin-top: -100px;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  position: relative;
}
.titleHome {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;

  animation: introTitle 1s ease-out;
}
#devTitle {
  letter-spacing: 4px;
}
#reactTitle {
  color: #0094ff;
}
.subtitleHome {
  position: absolute;
  bottom: 7px;
  right: 0;
  width: 60%;
  margin-top: 10px;

  font-size: 28px;

  /* background-color: #0094ff; */
}
@keyframes pisca {
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.subtitleHome::after {
  content: "|";
  animation: pisca 0.8s infinite;
  animation-delay: 2.2s;
}

.LinksContainer {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%);
}

.contactLink {
  width: 50px;
  height: 50px;
  /* background-color: #000; */
}
.imgLink {
  width: 100%;
  height: 100%;
}
.linkDown {
  font-size: 55px !important;
  /* background-color: #000; */
  color: #fff;
}

/* tablet */
/* ========maior que: ===========menor que:================================= */
@media (width >= 800px) and (width <= 909px) {
  .titleHomeBox {
    width: 430px;
    margin-top: -100px;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */

    position: relative;

    /* background-color: #0006; */
  }
  .ftinha {
    min-width: 240px;
    min-height: 240px;
  }

  .titleHome {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;

    animation: introTitle 1s ease-out;
  }
  #devTitle {
    letter-spacing: 3px;
  }
  #reactTitle {
    color: #0094ff;
  }
  .subtitleHome {
    width: 62%;
    right: 0px;
    font-size: 25px;

    /* background-color: #0094ff; */
  }
  @keyframes pisca {
    10% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .subtitleHome::after {
    content: "|";
    animation: pisca 0.8s infinite;
    animation-delay: 2.2s;
  }

  .LinksContainer {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%);
  }

  .contactLink {
    width: 50px;
    height: 50px;
    /* background-color: #000; */
  }
  .imgLink {
    width: 100%;
    height: 100%;
  }
  .linkDown {
    font-size: 55px !important;
    /* background-color: #000; */
    color: #fff;
  }
}

/* ========maior que: ===========menor que:================================= */
@media (width >= 430px) and (width < 800px) {
  .Logo {
    font-size: 50px;
    /* margin-left: 50px; */
  }
  .pageLinksContainer {
    display: flex;
    gap: 20px;
    /* margin-right: 50px; */
  }
  .ftinha {
    min-width: 235px;
    min-height: 235px;
  }

  .titleHomeBox {
    width: 444px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    position: relative;
    /* background-color: #0005; */
  }
  .titleHome {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;

    animation: introTitle 1s ease-out;
    letter-spacing: 2px;
  }
  .subtitleHome {
    /* width: 58%; */
    /* margin-top: 10px; */

    font-size: 24px;

    /* background-color: #0094ff; */
  }
  @keyframes pisca {
    10% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .subtitleHome::after {
    content: "|";
    animation: pisca 0.8s infinite;
    animation-delay: 2.2s;
  }

  .LinksContainer {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%);
  }

  .contactLink {
    width: 50px;
    height: 50px;
    /* background-color: #000; */
  }
  .imgLink {
    width: 100%;
    height: 100%;
  }
  .linkDown {
    font-size: 55px !important;
    /* background-color: #000; */
    color: #fff;
  }
}

/* ========maior que: ===========menor que:================================= */
@media (width >= 430px) and (width < 750px) {
  #homeArea {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
/* ========maior que: ===========menor que:================================= */
@media (width < 710px) {
  .navBar {
    position: relative;
    position: fixed;
    top: -70px;
    left: 0;
    z-index: 3;

    background-color: #eeb;
    width: 100%;

    padding: 0;
    transition: 0.3s;
  }
  .Logo {
    display: none;
  }
  .pageLinksContainer {
    width: 100%;
    height: 100%;
    background-color: #0002;

    display: flex;
    justify-content: space-evenly;
  }
  .pageMarker {
    position: absolute;
    right: 40px;
    bottom: -40px;

    height: 40px;
    width: 30px;
    
    background-color: #0094ff;

    cursor: pointer;
  }

  #homeArea {
    min-height: 100vh;
  }
}

@media (width <= 465px) {

  .titleHomeBox{
    width: 88%;
  }
  .titleHome{
    font-size: 55px;
    letter-spacing: 1px;
  }
  #devTitle{
    font-size: 55px;
    letter-spacing: 1px;
  }

  .subtitleHome{
    width: 60%;
    font-size: 26px;
    bottom: -10px;
  }
}


@media (width < 430px) {
  .area {
    min-height: calc(100vh - 10px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    border-radius: 50%;
    width: 60%;

    box-shadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #8100a8 24.46%, #46005c 74.98%)
      no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
  }
  .pic {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .homeTab {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    text-align: center;
  }
  .tabRow {
    font-size: 25px;
    border-bottom: 1px solid #000;
  }

  .timeTitle {
    font-style: normal;
    font-size: 25px;
    line-height: 22px;

    margin-top: 15px;
    text-align: center;
  }

  .divAreas {
    width: 90%;
    margin-bottom: 20px;
    border-color: #fff;
  }
}
