.kanban {
  background-color: #ffe;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.kbBody {
  width: 100%;
  height: 90%;
  display: flex;
}

/* ====================== cards ====================== */
.kbCardsArea {
  width: 100%;
  max-height: 90%;
  padding: 10px 15px;

  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(10,min-content) ;

  grid-gap: 8px;
  justify-content: center;

  overflow: hidden;
  overflow-y: auto;
}
.kbCard {
  min-width: 180px;
  height: min-content;
  max-height: 220px;

  font-size: 30px;
  border-radius: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerCard {
  min-height: 40px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.addKbItem {
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translate(0, 50%);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
}
.btnHover {
  transition: 0.1s;
}
.btnHover:hover {
  background-color: #2222;
}

.modalPopUpWrapper {
  position: relative;
}
.modalPopUp {
  min-width: 300px;
  height: 100px;

  background-color: #fff;
  color: #000;

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px 5px;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);

  box-shadow: #0008 5px 5px 10px;
}

.modalPopUp {
  min-width: 400px;
  height: 100px;

  background-color: #fff;
  color: #000;

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);

  box-shadow: #0008 5px 5px 10px;
  border-radius: 5px;
}

.keepOpen {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5%;
}
.keepOpenLabel {
  font-size: 19px;
  margin-bottom: 3px;
}
.dadCover {
  position: relative;
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ====================== items ====================== */
.bodyCard {
  width: 96%;
  overflow: hidden;
  overflow-y: auto;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;

  max-width: 100%;
  min-height: 30px;

  font-size: 23px;
  padding: 5px;
  margin-top: 1px;
  border-radius: 3px;
}
.cardItem:hover {
  background-color: #eee;
}
.kbItemText {
  width: 80%;
}
.kbMoreOpt {
  cursor: pointer;
}
.kbPopover {
  padding: 3px;
  display: flex;
}

/* ====================== KBsideBar ====================== */
.KBsideBarWrapper{
  height: 100%;
}
.KBsideBar {
  height: 100%;
  min-width: 200px;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border-left: 1px solid #0003;
}
.KBsideBar > :nth-child(1) {
  margin: 0;
}

.KBsideBarBtn {
  text-transform: capitalize;
  width: 90%;
  background-color: #2221;

  font-size: 22px;
  text-align: center;
  padding: 10px 5%;

  margin-top: 15px;

  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#addKbCard:hover {
  background-color: #31d3c0;
}
#delAllKbCard:hover,
#delAllKbItem:hover {
  background-color: #df1738;
  color: #fff;
}

/*  ======== menor que: ============================================== */
@media (width < 1000px) {
  .kbCardsArea {
    padding: 10px 0;
    grid-template-columns: repeat(2, 48%);
  }
  .KBsideBar {
    width: 40%;
  }
}
@media (width < 700px) {
  .kbCardsArea {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
@media (width < 550px) {
  .KBsideBarWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    width: 100vw;
    height: 100vh;
    background-color: #0005;

    transition: .2s;
    opacity: 0;
    z-index: -1;

  }
  .KBsideBar {
    padding: 0 15px;
    width: 50%;
    height: 100%;
    background-color: #eee;

    position: absolute;
    right: 0;
    top: 0;
    transition: .3s ease-out;
  }
  .KBsideBarBtn {
    font-size: 20px;
  }
  #delAllKbItem,
  #delAllKbCard,
  #addKbCard {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;

  }

  #addKbCard {
    background-color: #31d3c0;
  }

  #delAllKbItem,
  #delAllKbCard {
    background-color: #df1738;
  }

  .KBsideBar > :nth-child(1) {
    margin-top: 60px;
  }
}
@media (width < 450px) {
.KBsideBar {
  width: 70%;}
}