@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");

@media (width < 430px) {
  .App {
    font-family: "Turret Road", cursive;

    width: 100vw;
    position: relative;
    background-color: #222;
    color: #fff;
  }

  .appHeader {
    width: 100%;
    height: 11vh;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #258; */
  }
  .headerTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.1em;
    font-weight: 700;
  }

  .backBtn {
    background-color: #258;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 8vh;
    height: 8vh;
    border: none;
    border-radius: 50%;

    color: #fff;

    position: absolute;
    top: 9px;
    left: 10px;
  }

  .oppenNavBar {
    width: 55px;
    height: 52px;
    border-radius: 25%;

    position: fixed;
    right: 7px;
    top: 0;
    margin-top: 10px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #0005;
  }

  @keyframes introNav {
    0% {
      right: -50%;
    }
    100% {
      right: 0;
    }
  }

  .lineToggle {
    width: 40px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;

    transition: 0.2s;
  }
  #lOne.on {
    transform: rotate(45deg) translate(8px, 7px);
  }
  #lTwo.on {
    transform: rotate(-45deg) translate(0, 0);
  }
  #lThree.on {
    opacity: 0;
  }

  .navAreaWrapper {
    background-color: #0005;
    width: 100vw;
    height: 100vh;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;

    display: none;
  }

  .navArea {
    width: 80vw;
    height: 100vh;
    padding-top: 80px;

    background: linear-gradient(180deg, #555, #222 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;

    animation-name: introNav;
    animation-duration: 0.1s;
    animation-timing-function: linear;
  }

  .pageLink {
    width: 90%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    letter-spacing: 2px;

    background: #888;
    color: #fff;
    border-radius: 4px;
  }

  .contactContainer {
    width: 83%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #888;
    padding: 10px;
    border-radius: 4px;
  }
  .contactText {
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;

    color: #ffffff;

    margin-bottom: 20px;
    width: 100%;
  }
  .contactLinksContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .contactLink {
    width: 45px;
    height: 45px;
  }
  .imgLink {
    width: 100%;
    height: 100%;
  }

  .PagesCotainer {
    width: 100vw;
    min-height: 90%;
  }
}
