.LayoutGame {
  width: 100%;
  height: 100vh;
  background-color: #ffe;
  /* display: flex;
flex-direction: ; */
}

.gameArea {
  width: 100%;
  height: calc(100% - 60px);

  background-color: #ffe;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: "painel code" "painel colors";
}
.displayText {
  grid-area: code;
  place-self: center;

  padding: 10px 20px;
  background-color: #ddd;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}
.difControl {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btnDif {
  font-size: 23px;
}

.scoreContainer {
  background-color: #ddd;
  grid-area: painel;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.score {
  width: 80%;
  height: 70px;

  margin-top: 20px;

  background-color: #ccc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LayoutColors {
  grid-area: colors;
  place-self: center;
}

.popupWrapper {
  position: absolute;
  top: 0;
  z-index: 4;

  width: 100vw;
  height: 100vh;
  background-color: #0007;

  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 140px;

  background-color: #fff;
}
.popupBtn {
  width: 150px;
  height: 40px;

  margin-top: 20px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
}

@media (width <1000px) {
  .lifesContainer {
    right: 10px;
  }
}
@media (width <900px) {
  .lifesContainer {
    top: 70px;
  }
  .life {
    font-size: 34px;
  }

  .LayoutColors {
    min-width: 290px;
    width: 440px;
  }

  .colorBlock {
    width: 140px;
    height: 140px;
  }
}

@media (width <900px) {
  .lifesContainer {
    top: 60px;
    left: 250px;
    flex-direction: column;
    gap: 3px;
  }
  .life {
    font-size: 34px;
  }
}

@media (width <740px) {
  .LayoutColors {
    scale: 0.7;
  }
  .colorBlock {
    /* scale: 0.95; */
  }
}
