.ProjectsBody {
  width: 100%;
  min-height: 95vh;
  background: linear-gradient(180deg, #ffc 0%, #ffe 96%);
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsHeadercontainer {
  margin-left: 50px;
  align-self: start;
  position: relative;
}
.projectsHeaderTitle {
  font-size: 50px;
  /* width: min-content; */
}
.projectsHeaderTitle::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 125px;
  height: 8px;
  background: #0094ff;
}

.selectProjectArea {
  margin-top: 50px;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 0 10px;
}
.selectProjectBtn {
  cursor: pointer;
  transition: 0.3s;
  background-color: #0001;

  display: flex;
  width: max-content;
  padding: 5px 50px;

  border-bottom: 7px solid transparent;
}

.itemsContainer {
  max-width: 90vw;
  max-height: 150vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px 20px;

  margin-top: 50px;
  padding: 20px;

  background-color: #0001;
  position: relative;
  overflow: hidden;
}
/* .itemsContainer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(transparent, #000);
} */

.itemBox {
  transition: 0.3s;
  text-align: center;
  position: relative;
}

.projectHeader {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #0094ff; */
}
.projectHeaderTitle {
  font-size: 40px;
}
.backBtn {
  background-color: #0094ff;

  position: absolute;
  left: 0;
  top: 10px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 50px;

  border: none;
  border-radius: 0 50px 50px 0;

  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
@media (width > 700px) {
  .itemBox:hover {
    scale: 1.05;
  }
}
.boxLink {
  display: flex;
  width: 350px;
  height: 225px;

  /* background-color: #494; */
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.itemImg {
  width: 100%;
  height: 100%;
}
.description {
  position: absolute;
  bottom: 40px;

  max-width: 100%;
  height: 60%;
  padding: 15px;

  text-align: center;
  font-size: 30px;
  color: #fff;

  background-color: #0007;
  display: none;
}
.projectItemTitle {
  font-size: 40px;
  font-weight: 600;
}
.descBtn {
  width: 27px;
  height: 27px;

  position: absolute;
  right: 10px;
  bottom: 2px;

  font-size: 29px;
  font-weight: 700;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;

  border: 3px solid #000;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.bottomBlur {
  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
  right: 0;

  background: linear-gradient(0deg, #000 60%, #0009);
  color: #fff;

  display: none;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* ========menor que: ====================================================== */
@media (width < 800px) and (width > 615px) {
  .itemsContainer {
    max-width: none;

    width: 90vw;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 10px;
  }
  .itemBox {
    /* width: 300px; */
    display: flex;
    padding: 0;
  }
  .boxLink {
    width: 100%;
    z-index: 2;
  }
  .itemImg {
    width: 350px;
  }
  .projectItemTitle {
    margin-left: 20px;
    position: absolute;
    left: 350px;
  }

  .description {
    display: flex;
    bottom: 0;
    right: 0;

    width: calc(100% - 352px);
    height: 60%;

    padding: 0;
    color: #000;
    background-color: #0000;
  }
  .descBtn {
    display: none;
  }
}
/* ========menor que: ====================================================== */
@media (width < 700px) {
  .itemsContainer {
    max-width: none;
    width: 96vw;
    padding: 20px 0;
  }
}
/* ========maior que: ====================================================== */
@media (width < 650px) {
  .selectProjectBtn {
    padding: 5px 40px;
  }
}
/* ========maior que: ====================================================== */
@media (width < 615px) {
  .selectProjectBtn {
    padding: 5px 40px;
  }

  .itemsContainer {
    width: 450px;
  }

  .boxLink {
    width: 400px;
    height: 250px;
  }
}
/* ========maior que: ====================================================== */
@media (width < 515px) {
  .selectProjectArea {
    text-align: center;
  }
  .selectProjectBtn {
    padding: 10px 0;
    width: 90vw;
    justify-content: center;
  }

  .itemsContainer {
    width: 90vw;
  }
  .boxLink {
    width: 80vw;
    height: 55vw;
  }

  .backBtn {
    width: 80px;
  }
}

/* ========menor que: ====================================================== */
@media (width <= 430px) {
  .itemsContainer {
    width: 95vw;
  }
  .boxLink {
    width: 90vw;
    height: 60vw;
  }
  .descBtn {
    right: 0px;
  }
}

/* ========menor que: ====================================================== */
@media (width < 380px) {
  .backBtn {
    width: 55px;
  }
}
@media (width < 360px) {
  .projectHeaderTitle {
    margin-left: 40px;
  }
}
