@media (width > 1000px) {
  .LayoutColors {
    min-width: 21vw;
    max-width: 33vw;
    height: 20vw;

    background-color: #555;
    padding: 10px 0;
    margin-left: 30%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    row-gap: 6px;
    box-shadow: #0004 -10px 10px 6px;
  }
  .colorBlock {
    width: 10vw;
    height: 10vw;
  }

  .blockHover {
    width: 100%;
    height: 100%;
  }
  .blockHover:hover {
    background-color: #0004;
  }

  .difFControlWrapper {
    position: absolute;
    width: 28%;
    height: auto;
    z-index: 2;
    left: 10px;
    top: 200px;
  }
  .difficultyControl {
    padding: 5px;
    background-color: #aaa;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .btnDifficulty {
    border: none;
    width: 25vw;
    padding: 10px 0;
    font-size: 2vw;
    text-transform: uppercase;
    background-color: #fff;
  }
  .btnDifficulty:hover {
    background-color: #888;
    color: #fff;
  }
}
@media (width < 426px) {
  .LayoutColors {
    max-width: 80vw;
    min-width: 55vw;
    height: 55vw;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  .colorBlock {
    width: 24vw;
    height: 24vw;
  }
  .blockHover {
    display: none;
  }
  .difFControlWrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100%;

    display: none;
    justify-content: end;

    background-color: #0005;
  }
  .difficultyControl {
    padding: 5px;
    padding-top: 10vh;
    background-color: #444;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .btnDifficulty {
    border: none;
    width: 80%;
    height: 40px;
    margin-top: 15px;

    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;

    background-color: #fff;
  }

  /* .LayoutColors {
    max-width: 370px;
    min-width: 300px;
    height: 200px;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .colorBlock {
    width: 90px;
    height: 90px;
  }
  .difFControlWrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: end;

    background-color: #0005;
  }
  .difficultyControl {
    background-color: #444;
    padding-top: 40px;

    width: 60%;
    /*height: 100%;*/

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btnDifficulty {
    border: none;
    width: 80%;
    height: 40px;
    margin-top: 15px;

    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;

    background-color: #fff;
  }  */
}
