.LayoutColors {
  min-width: 29%;
  max-width: 43%;
  height: auto;

  background-color: #555;
  padding: 10px 0;
  margin-left: 30%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 6px;
  /* align-items: center; */

  box-shadow: #0004 -10px 10px 6px;
}

.blockHover {
  width: 100%;
  height: 100%;
}
.colorBlock {
  width: 160px;
  height: 140px;
}

.difFControlWrapper {
  position: absolute;
  width: 28%;
  height: auto;
  z-index: 2;
  left: 10px;
  top: 200px;
}
.difficultyControl {
  padding: 5px;
  background-color: #aaa;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.btnDifficulty {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 14pt;
  text-transform: uppercase;
  background-color: #fff;
}
.btnDifficulty:hover {
  background-color: #888;
  color: #fff;
}

@media (width > 1023px) and (width < 1201px) {
  .LayoutColors {
    min-width: 29%;
    max-width: 43%;
    height: auto;

    background-color: #555;
    padding: 10px 0;
    margin-left: 30%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 6px;
    /* align-items: center; */

    box-shadow: #0004 -10px 10px 6px;
  }

  .blockHover {
    width: 100%;
    height: 100%;
  }
  .colorBlock {
    width: 160px;
    height: 140px;
  }

  .difFControlWrapper {
    position: absolute;
    width: 28%;
    height: auto;
    z-index: 2;
    left: 10px;
    top: 200px;
  }
  .difficultyControl {
    padding: 5px;
    background-color: #aaa;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .btnDifficulty {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 14pt;
    text-transform: uppercase;
    background-color: #fff;
  }
  .btnDifficulty:hover {
    background-color: #888;
    color: #fff;
  }
}

@media (width < 321px) {
  .LayoutColors {
    max-width: 290px;
    min-width: 200px;
    height: 200px;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .colorBlock {
    width: 90px;
    height: 90px;
  }
  .difFControlWrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: none;
    justify-content: end;

    background-color: #0005;
  }
  .difficultyControl {
    background-color: #444;
    padding-top: 40px;

    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btnDifficulty {
    border: none;
    width: 150px;
    height: 40px;
    margin-top: 15px;

    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;

    background-color: #fff;
  }
}
