<<<<<<< HEAD
@media (width > 1000px) {
=======
@media (width > 430px) {
>>>>>>> 60404eb (site la)
  .LayoutColors {
    min-width: 22vw;
    max-width: 32vw;
    height: 21.5vw;

    background-color: #555;
    margin-left: 30%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    box-shadow: #0004 -10px 10px 6px;
  }
  .colorBlock {
    width: 10vw;
    height: 10vw;
  }

  .blockHover {
    width: 100%;
    height: 100%;
  }
  .blockHover:hover {
    background-color: #0004;
  }

<<<<<<< HEAD
  .difFControlWrapper {
    position: absolute;
    width: 28%;
    height: auto;
    z-index: 2;
    left: 10px;
    top: 200px;
  }
  .difficultyControl {
    padding: 5px;
=======
  .difControl {
    position: absolute;
    left: 2vw;
    top: 200px;
    z-index: 2;

    width: 26vw;
    padding: 6px 0 ;
>>>>>>> 60404eb (site la)
    background-color: #aaa;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
<<<<<<< HEAD
    justify-content: space-evenly;
    align-items: center;
  }
  .btnDifficulty {
=======
    justify-content: space-around;
    align-items: center;
  }
  .btnDif {
>>>>>>> 60404eb (site la)
    border: none;
    width: 25vw;
    padding: 10px 0;
    font-size: 2vw;
    text-transform: uppercase;
    background-color: #fff;
  }
<<<<<<< HEAD
  .btnDifficulty:hover {
    background-color: #888;
    color: #fff;
  }
=======
  .btnDif:hover {
    background-color: #888;
    color: #fff;
  }
  .difOptToggle{
    display: none;
  }
>>>>>>> 60404eb (site la)
}
@media (width < 426px) {
  .LayoutColors {
    max-width: 79vw;
    min-width: 55vw;
    height: 53vw;

    background-color: #555;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    box-shadow: #0004 -10px 10px 6px;
  }

  .colorBlock {
    width: 24vw;
    height: 24vw;
  }
  .blockHover {
    display: none;
  }

<<<<<<< HEAD
  .difficultyControl {
    position: absolute;
    bottom: 30px;

    padding: 5px;
    background-color: #444;
    width: 90vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .btnDifficulty {
    border: none;
    width: 30%;
    height: 40px;
=======
  .difOptToggle{
    position: absolute;
    top: 13%;
    right: 6.5vw;

    border: none;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
  }
  .difControl {
    position: absolute;
    top: 20vh;

    right: 50%;
    transform: translate(50%);
    
    width: 80vw;
    padding: 10px;
  
    background-color: #444;
    
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  }
  .btnDif {
    border: none;
    width: 60%;
    height: 10vw;
>>>>>>> 60404eb (site la)

    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;

    background-color: #fff;
  }
}
