* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
body::-webkit-scrollbar-thumb {
  background-color: #0005;
  border-radius: 20px;
}
