* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html,
body,
:root {
  height: 100%;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
*::-webkit-scrollbar-thumb {
  background-color: #0005;
  border-radius: 20px;
}
