* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #009;
}
body::-webkit-scrollbar-thumb {
  background-color: #090;
  border-radius: 20px;
}
