.Kanban {
  background-color: #444;
  width: 100%;
  height: 100%;
}
.kbNav {
  height: 40px;
  width: 100%;
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.kbNavBtn {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.KbContainer{
  width: 100%;
  margin-top: 10px;
  background-color: #ccc;
  padding: 2px 0;
}